body {
  font-family: "Roboto";
  margin: 0px auto;
  max-width: 1500px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px;
  width: 100%;
  -webkit-box-shadow: gray 0px 1px 5px;
          box-shadow: gray 0px 1px 5px;
}

.header figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px;
  width: 100%;
}

.header a {
  color: black;
}

.header__buttonBack {
  font-size: 30px;
  position: absolute;
  left: 3%;
  top: -15px;
}

.header__heading {
  width: 100%;
  max-width: 277px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 10px 0px;
}

.blocPresentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #eeeeee;
  margin-top: 2px;
  font-family: "Roboto";
}

.blocPresentation__contenair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background: #dadada;
  padding: 16px 0px;
}

.blocPresentation__contenair__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
  width: 190px;
  margin: 0px;
  font-size: 23px;
}

.blocPresentation__title {
  font-size: 30px;
  width: 65%;
  text-align: center;
  font-weight: 600;
  min-width: 275px;
}

.blocPresentation__description {
  font-size: 20px;
  width: 80%;
  text-align: center;
}

.blocPresentation__button a {
  text-decoration: none;
  color: white;
}

.blocPresentation__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da 0%, #9356dc 100%);
  border-radius: 50px;
  -webkit-box-shadow: 1px 1px 16px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 1px 16px 8px rgba(0, 0, 0, 0.15);
  height: 50px;
  width: 250px;
  font-size: 20px;
}

.blocPresentation__button:hover {
  opacity: 0.7;
  -webkit-box-shadow: #999999 0px 0px 20px 10px;
          box-shadow: #999999 0px 0px 20px 10px;
}

.blocPresentation--page {
  width: 100%;
}

.blocPresentation--page figure {
  margin: 0px;
  width: 100%;
  height: 260px;
}

.blocPresentation__image--page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blocFonctionnement {
  margin: 1.9em;
}

.blocFonctionnement__title {
  font-size: 30px;
}

.blocFonctionnement__vignette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap row;
          flex-flow: nowrap row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 20px;
  border-radius: 20px;
  -webkit-box-shadow: #c9c8c8 3px 3px 6px;
          box-shadow: #c9c8c8 3px 3px 6px;
  background: #f7f7f7;
  height: 70px;
  margin-bottom: 25px;
  font-weight: 500;
}

.blocFonctionnement__vignette i {
  color: #6d6d6d;
  width: 12.5px;
  margin: 0px 30px 0px 40px;
}

.blocFonctionnement__vignette__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
  position: relative;
  right: 11px;
  height: 25px;
  width: 25px;
  background: #9356dc;
  color: white;
  border-radius: 20px;
}

.blocFonctionnement__vignette:hover {
  background: #f7eeff;
}

.blocFonctionnement__vignette:hover i {
  color: #9356dc;
}

.blocMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  background: #f8f8f8;
  border-radius: 50px 50px 0 0;
  position: relative;
  bottom: 50px;
  margin-bottom: -50px;
  font-family: "Roboto";
}

.blocMenu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 2rem;
  margin-top: 23px;
  font-family: "Shrikhand";
  font-size: 30px;
}

.blocMenu__heart {
  width: 33px;
  height: 30px;
  fill: #f8f8f8;
  stroke: black;
  stroke-width: 35px;
}

.blocMenu__heart:hover {
  fill: url(#heart-grad);
  stroke-width: 0px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.blocMenu__bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: 0 30px;
  -webkit-animation: slide-down 1s;
          animation: slide-down 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.blocMenu__bloc__title {
  -ms-flex-item-align: start;
      align-self: flex-start;
  border-bottom: #99e2d0 3px solid;
  width: 47px;
  padding-bottom: 5px;
  font-weight: 400;
}

.blocMenu__bloc__vignettes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(128, 128, 128, 0.342);
          box-shadow: 5px 5px 15px 5px rgba(128, 128, 128, 0.342);
  border-radius: 20px;
  width: 100%;
  height: 80px;
  padding: 10px;
  margin: 10px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto";
  position: relative;
}

.blocMenu__bloc__vignettes__blocHeart {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 80px;
  margin-left: 100%;
  margin-top: -10px;
  font-size: 30px;
  color: white;
  position: absolute;
  left: -70px;
  border-radius: 0px 20px 20px 0px;
  background: #99e2d0;
}

.blocMenu__bloc__vignettes i {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-animation: rotate 0.5s both;
  animation: rotate 0.5s both;
}

.blocMenu__bloc__vignettes__title {
  width: 100%;
  height: 22.5px;
  margin: 0px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blocMenu__bloc__vignettes__description {
  width: 90%;
  margin-bottom: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blocMenu__bloc__vignettes__price {
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-end;
  font-weight: 600;
  margin-top: -20px;
}

.blocMenu__bloc__vignettes:hover .blocMenu__bloc__vignettes__price {
  margin-right: 70px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blocMenu__bloc__vignettes:hover .blocMenu__bloc__vignettes__blocHeart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: slide-left 0.5s ease;
  animation: slide-left 0.5s ease;
  -webkit-transform-origin: right;
  transform-origin: right;
}

.blocMenu__bloc__vignettes:hover .blocMenu__bloc__blockText {
  width: 75%;
}

.blocMenu__bloc2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  visibility: hidden;
}

.blocMenu__bloc3 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  visibility: hidden;
}

.blocMenu__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da 0%, #9356dc 100%);
  border: none;
  color: white;
  border-radius: 50px;
  height: 50px;
  width: 250px;
  font-size: 20px;
  margin: 20px auto;
}

.blocMenu__button:hover {
  opacity: 0.7;
  -webkit-box-shadow: #999999 0px 0px 20px 10px;
          box-shadow: #999999 0px 0px 20px 10px;
}

.blocRestaurants {
  width: 100%;
  height: 1290px;
  background: #f7f7f7;
}

.blocRestaurants__title {
  font-size: 30px;
  margin-left: 1em;
}

.blocRestaurants__vignette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px auto;
  width: 90%;
  min-height: 280px;
  overflow: hidden;
  border-radius: 20px;
  -webkit-box-shadow: #c9c8c8 3px 3px 6px;
          box-shadow: #c9c8c8 3px 3px 6px;
}

.blocRestaurants__vignette__contenairVigTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 70px;
  padding: 5px 20px;
  position: relative;
  top: 38px;
}

.blocRestaurants__vignette__contenairImgNews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.blocRestaurants__vignette__image {
  position: relative;
  right: 40px;
  bottom: 16px;
  min-width: 137%;
  max-height: 200px;
  margin-bottom: -70px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

.blocRestaurants__vignette__title {
  font-size: 23px;
  margin: 0px;
  width: 50%;
  min-width: 190px;
}

.blocRestaurants__vignette__location {
  margin-top: 5px;
  font-size: 18px;
  width: 50%;
  min-width: 190px;
}

.blocRestaurants__vignette a {
  text-decoration: none;
  color: black;
}

.blocRestaurants__vignette__heart {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 33px;
  height: 30px;
  fill: #f8f8f8;
  stroke: black;
  stroke-width: 35px;
  position: absolute;
  bottom: 30px;
}

.blocRestaurants__vignette__heart:hover {
  fill: url(#heart-grad);
  stroke-width: 0px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.blocRestaurants__vignette__news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  width: 90px;
  height: 25px;
  background: #99e2d0;
  color: #3d8f7a;
  position: absolute;
  right: 10px;
  top: 0px;
  z-index: 2;
}

.footer {
  background: #313131;
  color: white;
  padding: 1em 2em;
}

.footer__heading {
  font-family: "Shrikhand";
  font-size: 25px;
}

.footer i {
  width: 20px;
  margin-right: 15px;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer__textGold {
  font-weight: bold;
}

/*Keyframes Animation Pages Menu */
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    visibility: visible;
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    visibility: visible;
  }
}

/* Page Loader */
.contenair-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 2;
  visibility: hidden;
  -webkit-animation: opacity-loader 4s;
          animation: opacity-loader 4s;
}

.loader {
  border: 16px solid #9356dc;
  border-top: 16px solid #ff79da;
  border-radius: 50%;
  margin: 50vh auto;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 4s linear;
          animation: spin 4s linear;
  visibility: hidden;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    visibility: visible;
  }
  80% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    visibility: visible;
  }
  80% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes opacity-loader {
  0% {
    opacity: 0.912;
    visibility: visible;
  }
  90% {
    opacity: 0.612;
  }
  100% {
    opacity: 0;
  }
}

@keyframes opacity-loader {
  0% {
    opacity: 0.912;
    visibility: visible;
  }
  90% {
    opacity: 0.612;
  }
  100% {
    opacity: 0;
  }
}

/* Page Loader */
@media all and (min-width: 900px) and (min-device-width: 480px) {
  .blocFonctionnement__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .blocFonctionnement__vignette {
    width: 354px;
    zoom: 75%;
  }
  .blocRestaurants__vignette {
    max-width: 420px;
    max-height: 200px;
  }
  .blocRestaurants--display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    height: 50%;
    max-width: 1100px;
    margin: 0px auto;
  }
  .blocRestaurants {
    height: auto;
    padding-bottom: 50px;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1100px) {
  .blocMenu--display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blocMenu__bloc {
    width: 350px;
  }
  .blocFonctionnement__list {
    max-width: 1100px;
    margin: 0px auto;
  }
}
/*# sourceMappingURL=style.css.map */